body{
    margin:0;
    background-color: white;
    cursor: pointer;
    overflow-y: auto;
}

.hidden{
    display: none ;
}
.visible{
    display: block ;
}

 /*--------------HOME---------------*/ /*Cose da fare nel responsive: controllo user e logout - hamburgher menu - logo più giù*/
 #myIcon{
    color: white;
    font-size: 200%;
 }


 #menu .icon {
    display: none;
  }



 /*----*/
#barra_menu{
    background-color: #1C008D;
    width: 100%;
    position: absolute;
    height: 18%;
    left: 0px;
    top: 0px;
}
#menu{
    margin-top: -2%;
    width: 80%;

}
.item{
    text-decoration: none;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-right: 20px;
}
.item:hover{
   text-shadow: 2px 2px 4px #EDFFFB;
}

#ideas, #about, #prom{
    margin-left: 4%;
}
#logo{
    display: block;
    margin-left:0  auto;
    margin-right: 0 auto;
    margin: 0 auto;
    margin-top: 11%;
    width: 25%;
    cursor: grab;
}
#content{
    margin-top:10%;
}
.contentTesto{
    margin: 0 auto;
    margin-top:10%;
    margin-left: 2%;

    font-size: 20px;
    text-align: center;
   
}
.contentInterno{
    overflow-y: visible;
    width: 40%;
    margin: 0 auto;
}
#testoUtente{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2px;
}
#btnUtente{
    z-index: 1;
    width: 7%;
    height: max-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.3%;
    font-size: 15px;
    background-color: #1C008D;
    color:white;
}
#txtUtente{
    border-radius: 10px;
    padding: 0.4%;
    height: 15px;
    overflow-y: auto;
    width: 15%;
}
/*---------------------USER------------------------------*/
#imgUser{ 
    width: 85px;
    z-index: 2;
    right: 1.2%;
    color:black;
    margin-top: 0%;
    display: inline-block;
    position: absolute;
}
#user:hover{
    cursor:grab;
}
#menu, #user {
    float: left;
    padding: 20px;
  }
#barra_menu:after {
    content: "";
    display: table;
    clear: both;
  }
  

#dropup-content {
   z-index: 0;
   color: black;
   background-color: white;
   width:100%;
   padding: 10px;
   text-align: center;
   border-radius: 10px;
   position: relative;
   bottom: 3%;
   right: 55%;
  }
  
#logout{
    z-index: 1;
    width: min-content;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3%;
    font-size: 25px;
    background-color: #1C008D;
    color:white
}
  
  

/*--------------LOG-------------------*/


#template-Sign, #template-log{
    background-color: white;
    box-shadow: 3px 3px 15px 3px  #1d1d1d;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    height: min-content;
    margin: 0 auto;
    font-size: 25px;
    margin-top:  10%;
}
#formLog, #formSign{
    padding: 8%;
}
input[type=email], input[type=password]{
    border-radius: 10px;
    font-size: 90%;
    height: 40px;
}
input[type=submit]{
    border-radius: 10px;
    padding: 3%;
    font-size: 80%;
    width: 40%;
    background-color: #1C008D;
    color:white
}
input[type=submit]:hover{
    background-color: #2f00ec;
}

#login, #signUp{
    background-color: #1C008D;
    color:white;
    font-size: large;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    width: 10%;
}
#logSign{
    margin: 0 auto;
    margin-top:  15%;
    text-align: center;
}
#logoSemplice{
    width: 13%;
}
.chekUser{
    width: 80%;
}
/*-----------------LOGOUT----------------------*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
}
.modal-content {
    background-color: white;
    box-shadow: 3px 3px 15px 3px  #1d1d1d;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    height: min-content;
    margin: 0 auto;
    font-size: 25px;
    margin-top:  10%;
    padding:3%
}
#confermaLogout, #annullaLogout{
    background-color: #1C008D;
    color:white;
    font-size: 60%;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    width: 30%;
}


#map{ 
    height: 400px; 
    background-color: white;
    /*display: none;*/
}
li{
    list-style-type: none;
}
/*-------------------------------------------------------------*/

#contentAnswer{
    width:max-content; 
    max-width: 40%;
    background-color: white;
    margin: 0 auto;
    padding: 1px;
    border-radius: 10px;
}
#answer{
    margin: 2px;
    font-size: large;
    word-wrap: break-word;
    text-decoration: none;
}

/*------------------------------MODALE----------------------------------*/
#testo{
    padding: 6.5%;
    margin-top: 2%;
    height: 85%;
    overflow-y: auto;
}
.modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-y: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    width: 40%;
    height: 70%;
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #7d7d7d;
    text-decoration: none;
    cursor: pointer;
  }
/*----------------------------------------------------------------------*/
@media screen and (max-width: 1100px) {
    
#dropup-content {
    z-index: 0;
    color: black;
    background-color: white;
    width:100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    bottom: 3%;
    right: 100%;
   }
   #logo{
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-top: 13%;
    text-align: center;
    width: 28%;
    cursor: grab;
}

    }
  
/*----------------------------------------------------------------------*/

@media screen and (max-width: 900px) {
    #menu a {display: none;}
    #menu a.icon {
      float: left;
      display: block;
    }
    #menu.responsive {
        background-color: #1C008D;
    }
    #menu.responsive .icon {
      position: absolute;
      left: 2;
      bottom: 2;
    }
    #menu.responsive a {
      float: none;
      display: block;
      text-align: left;

    }
    h3{
        width: 50%;
        margin: 0 auto;
    }
    #logoSemplice{
        width: 30%;
    }
    #login, #signUp{  
        background-color: #1C008D;
        color:white;
        font-size: 150%;
        padding: 1%;
        text-align: center;
        border-radius: 10px;
        width: 20%;
    }
    #template-Sign, #template-log{
        background-color: white;
        box-shadow: 3px 3px 15px 3px  #1d1d1d;
        border-radius: 20px;
        text-align: center;
        width: 55%;
        height: min-content;
        margin: 0 auto;
        font-size: 25px;
        margin-top:  10%;
    }
    #formLog, #formSign{
        padding: 8%;
    }
    input[type=email], input[type=password]{
        border-radius: 10px;
        font-size: 90%;
        height: 40px;
    }
    input[type=submit]{
        border-radius: 10px;
        padding: 3%;
        font-size: 80%;
        width: 40%;
        background-color: #1C008D;
        color:white
    }
    input[type=submit]:hover{
        background-color: #2f00ec;
    }  
    #logSign{
        margin: 0 auto;
        margin-top:  15%;
        text-align: center;
    }  
    .chekUser{
        width: 80%;
    }


    /*------------Home----------*/
    #menu{
        margin-top: 3%;
        width: 30%;  
        border-radius: 15px;
    }

    .item{
        text-decoration: none;
        font-size: 30px;
        color: white;
        text-align: left;
    }
    .item:hover{
       text-shadow: 2px 2px 4px #EDFFFB;
    }
    
    #ideas, #about, #prom{
        margin-left: 0%;
    }
    #logo{     
        margin: 0 auto;
        margin-top: 10%;
        text-align: center;
        width: 28%;
        cursor: grab;
    }
    #content{
        margin-top:12%;
    }
    .contentTesto{
        margin: 0 auto;
        margin-top:30%;
        margin-left: 2%;
        font-size: 20px;
        text-align: center;
       
    }
    .contentInterno{
        overflow-y: visible;
        width: 40%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #testoUtente{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2px;
    }
    #btnUtente{
        z-index: 1;
        width: 7%;
        height: max-content;
        margin: 0 auto;
        border-radius: 10px;
        padding: 0.3%;
        font-size: 15px;
        background-color: #1C008D;
        color:white;
    }
    #txtUtente{
        border-radius: 10px;
        padding: 0.4%;
        height: 15px;
        overflow-y: auto;
        width: 15%;
    }
    /*---------------------USER------------------------------*/
    #imgUser{ 
        width: 60px;
        z-index: 2;
        right: 1.2%;
        color:black;
        margin-top: -0.5%;
        display: inline-block;
        position: absolute;
    }
    #user:hover{
        cursor:grab;
    }
    #menu, #user {
        float: left;
        padding: 20px;
      }
    #barra_menu:after {
        content: "";
        display: table;
        clear: both;
      }
      
    
    #dropup-content {
       z-index: 0;
       color: black;
       background-color: white;
       width:100%;
       padding: 10px;
       text-align: center;
       border-radius: 10px;
       position: relative;
       bottom: 2%;
       right: 0%;
      }
      
    #logout{
        z-index: 1;
        width: min-content;
        margin: 0 auto;
        border-radius: 10px;
        padding: 3%;
        font-size: 25px;
        background-color: #1C008D;
        color:white
    }
      
      

    /*---------bntlog----------*/
    #confermaLogout, #annullaLogout{
        background-color: #1C008D;
        color:white;
        font-size: 60%;
        padding: 2%;
        text-align: center;
        border-radius: 10px;
        width: 40%;
    }
    /*-------------logo---------------*/
    #logo{
        display: block;
        margin-left:0  auto;
        margin-right: 0 auto;
        margin: 0 auto;
        margin-top: 20%;
        width: 45%;
        cursor: grab;
    }
    #testoUtente{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 0px;
    }
    #btnUtente{
        z-index: 1;
        width: 12%;
        height: max-content;
        margin: 0 auto;
        border-radius: 10px;
        padding: 0.3%;
        font-size: 15px;
        background-color: #1C008D;
        color:white;
    }
    #txtUtente{
        border-radius: 10px;
        padding: 0.4%;
        height: 20px;
        overflow-y: auto;
        width: 30%;
    }
  }
  /*----------------------------------*/

/*----------------------------------------------------------------------*/

@media screen and (max-width: 400px) {
    #menu a {display: none;}
    #menu a.icon {
      float: left;
      display: block;
    }
    #menu.responsive {
        background-color: #1C008D;
        width: 50%;
    }
    #menu.responsive .icon {
      position: absolute;
      left: 2;
      bottom: 2;
    }
    #menu.responsive a {
      float: none;
      display: block;
      text-align: left;

    }
    h3{
        width: 50%;
        margin: 0 auto;
    }
    #logoSemplice{
        margin-top:  30%;

        width: 35%;
    }
    
    #login, #signUp{  
        background-color: #1C008D;
        color:white;
        font-size: 150%;
        padding: 1%;
        text-align: center;
        border-radius: 10px;
        width: 25%;
    }
    #template-Sign, #template-log{
        background-color: white;
        box-shadow: 3px 3px 15px 3px  #1d1d1d;
        border-radius: 20px;
        text-align: center;
        width: 70%;
        height: min-content;
        margin: 0 auto;
        font-size: 25px;
        margin-top:  35%;
    }
    #formLog, #formSign{
        padding: 8%;
    }
    input[type=email], input[type=password]{
        border-radius: 10px;
        font-size: 90%;
        height: 40px;
    }
    input[type=submit]{
        border-radius: 10px;
        padding: 3%;
        font-size: 80%;
        width: 40%;
        background-color: #1C008D;
        color:white
    }
    input[type=submit]:hover{
        background-color: #2f00ec;
    }  
    #logSign{
        margin: 0 auto;
        margin-top:  15%;
        text-align: center;
    }  
    .chekUser{
        width: 80%;
    }


    /*------------Home----------*/

    #barra_menu{
        background-color: #1C008D;
        width: 100%;
        position: absolute;
        height: 10%;
        left: 0px;
        top: 0px;
    }
    #menu{
        margin-top: 1.5%;
        width: 80%;  
    }
    .item{
        text-decoration: none;
        font-size: 30px;
        color: white;
        text-align: left;
    }
    .item:hover{
       text-shadow: 2px 2px 4px #EDFFFB;
    }
    
    #ideas, #about, #prom{
        margin-left: 0%;
    }
    #logo{     
        display: block;
        margin-left:0  auto;
        margin-right: 0 auto;
        margin: 0 auto;
        margin-top: 40%;
        width: 45%;
        cursor: grab;
    }
    #content{
        margin-top:40%;
    }
    .contentTesto{
        margin: 0 auto;
        margin-top:20%;
        margin-left: 2%;
        font-size: 20px;
        text-align: center;
       
    }
    .contentInterno{
        overflow-y: visible;
        width: 60%;
        margin: 0 auto;
    }
    #testoUtente{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2px;
    }
    #btnUtente{
        z-index: 1;
        width: 9%;
        height: max-content;
        margin: 0 auto;
        border-radius: 10px;
        padding: 0.3%;
        font-size: 25px;
        background-color: #1C008D;
        color:white;
    }
    #txtUtente{
        border-radius: 10px;
        padding: 0.4%;
        height: 20px;
        overflow-y: auto;
        width: 50%;
    }
    /*---------------------USER------------------------------*/
    #imgUser{ 
        width: 55px;
        z-index: 2;
        right: 1.2%;
        color:black;
        margin-top: -28%;
        display: inline-block;
        position: absolute;
    }
    #user:hover{
        cursor:grab;
    }
    #menu, #user {
        float: left;
        padding: 20px;
      }
    #barra_menu:after {
        content: "";
        display: table;
        clear: both;
      }
      
    
    #dropup-content {
       z-index: 0;
       color: black;
       background-color: white;
       width:100%;
       padding: 10px;
       text-align: center;
       border-radius: 10px;
       position: relative;
       top: -10%;
       right: -150%;
      }
      
    #logout{
        z-index: 1;
        width: min-content;
        margin: 0 auto;
        border-radius: 10px;
        padding: 3%;
        font-size: 25px;
        background-color: #1C008D;
        color:white
    }
      
      

    /*---------bntlog----------*/
    #confermaLogout, #annullaLogout{
        background-color: #1C008D;
        color:white;
        font-size: 60%;
        padding: 2%;
        text-align: center;
        border-radius: 10px;
        width: 40%;
    }
    /*-------------logo---------------*/
    #logo{
        display: block;
        margin-left:0  auto;
        margin-right: 0 auto;
        margin: 0 auto;
        margin-top: 20%;
        width: 45%;
        cursor: grab;
    }
    #testoUtente{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 0px;
    }
    #btnUtente{
        z-index: 1;
        width: 20%;
        height: max-content;
        margin: 0 auto;
        border-radius: 10px;
        padding: 0.3%;
        font-size: 15px;
        background-color: #1C008D;
        color:white;
    }
    #txtUtente{
        border-radius: 10px;
        padding: 0.4%;
        height: 20px;
        overflow-y: auto;
        width: 45%;
    }
    #contentAnswer{
        width:max-content; 
        max-width: 70%;
        background-color: white;
        margin: 0 auto;
        padding: 1px;
        border-radius: 10px;
    }
    #answer{
        margin: 2px;
        font-size: large;
        word-wrap: break-word;
        text-decoration: none;
    }
  }